
<!doctype html>
<html>
  <head>
    <title>
      {{page_title}}
    </title>
    <link rel="stylesheet" href="./css/basic.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Math Jax (wont work offline) -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <!-- script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script-->
    <script src="./js/mathjax-config.js"></script>
    <script src="./js/MathJax-master/es5/tex-svg.js"></script>
  </head>
  <body>
    <h1> {{main_title}} </h1>
    <h3 class="center"> by {{author}} </h3>
    <ul>
      {{links}}
    </ul>
    <div class="main">
      {{main}}
    </div>
  </body>
</html>
